<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "Reset Password", url: "/passwordReset" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/passwordReset", pageName: "Reset Password" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <p class="error" id="error"></p>
            <p class="success" id="success"></p>
            <h2>Password Reset</h2>
            <p class="error">If your account is linked with Discord, you cannot reset a password.</p>
            <center>
            <form id="form" class="form">
                <div class="form-item">
                    <label for="email" class="form-label">Enter Email:</label>
                    <input type="email" id="email" name="email" class="form-input" autocomplete="off" spellcheck="off" required>
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" name="username" class="form-input" autocomplete="off" spellcheck="off" required>
                    <button class="form-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script defer>
    $('#form').submit(function (e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch('/passwordReset', {
            method: 'post',
            body : formData
        }).then((r) => r.json()).then((b) => {
            var er = document.getElementById('error');
            var g = document.getElementById('success');
            var email;
            var username;

            if (b.OK == false) {
                er.innerText = ""
                return er.innerText = b.error.message
            } else {
                g.innerText = ""
                return g.innerText = "Sent password reset to your email."
            }
        });
    });
</script>