<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: 'Contact', url: "contact" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/contact", pageName: "Contact" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <div class="contact">
                <p style="padding-top: 10px;">
                    If you want to contact me on Twitter, then its: <a href="/r/twitter">@LoudKai</a> <br>
                    You can also contact me on Discord. My username is: <a href="/r/discord-acc">KAI#1028</a> <br>
                    You can also contact me on Email: <a href="mailto:kaiaf@protonmail.com">kaiaf@protonmail.com</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>