<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: 'KaiURL Image hosting', url: 'i/admin' }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "i", pageName: "Home" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
        <center>
            <table id="container">
                <tbody>
                <% if (img) { %>
                    <% img.forEach(e => { %>
                        <tr>
                            <td>
                                <a href="/i/<%- e.filename %>/admin"><%- e.filename %></a>
                            </td>
                        </tr>
                    <% }); %>
                <% } %>
                </tbody>
            </table>
        </center>
        </div>
    </div>
</body>
</html>