* {
    box-sizing: border-box
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0
}

.container {
    padding: 15px
}

.main {
    text-align: center
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(224, 223, 223, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a:hover {
    color: #45a049;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 20%;
    transition: 0.5s;
  }
  
  .openbtn:hover {
    background-color: #45a049;
    transition: 0.5s;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #45a049;
  }
  

  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
  
    .sidebar a {
      font-size: 18px;
    }
  }

  .form {
    padding: 12px;
    font-size: 15px
  }

  .form * {
    box-sizing: border-box;
    line-height: 1.5;
  }

  .form-label {
    font-size: 1rem;
    font-weight:500
  }

  .form-item {
    display: flex;
    flex-direction: column;
    max-width: 250px
  }

  .form-item > * {
    align-self: flex-start;
  }

  .form-input {
    width: 100%;
    max-width: 325px;
    padding: 0.5em;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.5s;
  }

  .form-input:focus {
    background: #e6e5e5;
    transition: background 0.5s;
  }

.form-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 5px 12px;
  margin: 10px 0;

  color: #ffffff;
  background: #14b64a;
  border: 1px solid #0fa942;
  border-radius: 3px;

  cursor: pointer;
  outline: none;
  }

.form-button:hover {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 5px 12px;
  margin: 10px 0;

  color: #ffffff;
  background: #11963d;
  border: 1px solid #0d7c32;
  border-radius: 3px;
  transition: 0.2s;

  cursor: pointer;
  outline: none;
  }

@media screen and (min-width: 500px) {
  .img {
    padding: 5px 0px 2px 0px;
    width: 50%;
    background-color: #f3f3f3;
  }

  img.image {
    max-width: 75%;
    min-width: 50%;
    max-height: 75%;
    min-height: 50%;
  }
  
  .right-container {
    background-color: #f3f3f3;
    width: auto;
    padding: 5px 5px 5px 5px;
    width: auto;
    max-width: 75%;
    max-height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  
  .center-container {
    background-color: #f3f3f3;
    padding: 15px;
    width: 35%;
    max-width: 50%;
    max-height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
}

@media screen and (max-width: 500px) {
  .img {
    padding: 15px 0px 15px 0px;
    width: 100%;
    background-color: #f3f3f3;
  }

  img.image {
    max-width: 50%;
    min-width: 25%;
    max-height: 50%;
    min-height: 25%;
  }

  #container {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    height: auto;
    font-size: 80%;
  }

  #container td,
  #container tr {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    background-color: #f3f3f3;
  }

  #container th {
    padding-top: 4px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  div.u {
    padding-top: 5px;
  }

  #container a {
    color: green;
  }

  .right-container {
    background-color: #f3f3f3;
    width: auto;
    padding: 5px 5px 5px 5px;
    width: auto;
    max-width: 75%;
    max-height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  
  .center-container {
    background-color: #f3f3f3;
    padding: 15px;
    width: auto;
    max-width: 70%;
    max-height: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
}

#container {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

#container td,
#container tr {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: #f3f3f3;
}

#container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

a {
  color: green;
  transition: color 0.3s;
}

a:hover {
  color: rgb(4, 104, 4);
  transition: color 0.3s;
}

.change-theme-button {
  padding: 1px;
  background: none;
  border: none;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.nav-acc a {
  background-color: #4CAF50;
  padding: 7px;
  float: right;
  color: white;
  text-decoration: none;
}

.nav-acc a:hover {
  background-color: #419644;
  transition: 0.2s;
}

.link {
  text-decoration: none;
}

.error {
  color: orangered;
}

.role {
  background-color: rgb(46, 58, 80);
  border: none;
  color: rgb(247, 93, 93);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 15px;
}

.bold-verified {
  color: rgb(247, 93, 93);
}

a.button {
  color: white;
  text-decoration: none;
}

.code {
  background-color: rgb(218, 218, 218);
  padding: 2px 0px 2px 0px;
  max-width: 35%;
  min-width: 20%;
  word-wrap: break-word;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}