:root {
    --MainColor: #2c2c2c;
    --SecondColor: #3d8f40;
    --TextColor: white;
    --VerifiedColor: rgb(231, 165, 165);
}

@media screen and (min-width: 800px) {
    #container {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        max-width: 70%;
        min-width: 50%;
    }
    
    #container td,
    #container tr {
        border: 1px solid black;
        padding: 8px 2px 8px 2px;
        text-align: center;
        background-color: var(--MainColor);
        color: var(--VerifiedColor);
        word-wrap: break-word;
    }
    
    #container th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: var(--SecondColor);
        color: var(--TextColor);
    }
}

@media screen and (max-width: 800px) {
    #container {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        max-width: 50%;
        min-width: 35%;
    }
    
    #container td,
    #container tr {
        border: 1px solid black;
        padding: 8px 2px 8px 2px;
        text-align: center;
        font-size: smaller;
        background-color: var(--MainColor);
        color: var(--VerifiedColor);
        word-wrap: break-word;
    }
    
    #container th {
        word-wrap: break-word;
        text-align: center;
        font-size: 75%;
        background-color: var(--SecondColor);
        color: var(--TextColor);
    }
}

/*
#container {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: 50%;
    min-width: 35%;
    height: auto;
    font-size: 80%;
}

#container td,
#container tr {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    background-color: #e2e2e2;
}

#container th {
    padding-top: 4px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#container a {
    color: green;
}

*/