<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "Login", url: "login" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/login", pageName: "Log in" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <p class="error" id="error"></p>
            <p>Log in with KaiURL.xyz account:</p>
            <center>
            <form class="form" id="form-login">
                <div class="form-item">
                    <label class="form-label" for="form-username">Username:</label>
                    <input type="text" id="form-username" name="username" class="form-input" required>
                </div>
                <div class="form-item">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" class="form-input" name="password" id="password" required>
                </div>
                <button class="form-button" type="submit">Log In</button>
            </form>
        </center>
        <p>
            <a href="/register">Don't have an account? Register here</a>
        </p>
        <p>Login with..</p>
        <div class="options">
            <p>
                <a href="/api/login/discord">
                    <img src="https://discord.com/assets/07dca80a102d4149e9736d4b162cff6f.ico" alt="Discord" style="vertical-align: middle;">
                </a>
            </p>
        </div> <br>
        <a href="/passwordReset">Forgot Password</a>
        </div>
    </div>
</body>
</html>
