<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <%- include('../meta/index', { page: "Terms of Service", url: "tos" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/tos", pageName: "tos" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div style="margin: auto; width: 95%; padding: 20px 0;">
            <h1 class="7">
              <b>
                Breaking any of these rules will result in with your Link/Account to be removed.
              </b>
            </h1>
              <li style="padding-top: 10px;" class="1">
                  <b>Termination:</b> <b><i title="This is the devolepment team, which consist as of right now, Kai Zol.">We</i></b> are allowed to delete/terminate anyone's URL at any point in time.
              </li>
              <li style="padding-top: 10px;" class="2">
                  <b>Harrassment:</b> You <i>will</i> not harass people, or you will not try to grab peoples IP's. This is not a website for that. If you want more info refer here: <a class="title" href="https://www.eeoc.gov/harassment">https://www.eeoc.gov/harassment</a>
              </li>
              <li style="padding-top: 10px;" class="3">
                  <b>Publicity:</b> You accept that other people will/can view your public links. This website shows other websites, which *<i>could</i>* be an IP grabber, or other sorts. You have to use common sense and be careful.
              </li>
              <li style="padding-top: 10px;" class="4">
                <b>Ad Links:</b> Ad Links are not allowed. I.E. Adfoc.us, Adf.ly, bit.ly.
              </li>
              <li style="padding-top: 10px;" class="5">
                <b>Malware Links:</b> Malware Links are not allowed either. A Malware link is when it redirects to another page that shows a lot of Popups or warnings. The same goes with <b class="6">Adware Links</b>.
              </li>
              <li style="padding-top: 10px" class="6">
                <b>Accounts:</b> When making an account, you agree that the account can be deleted at any time. This will usually only happen if you break multiple rules. Account's are now done via Discord, meaning the only thing that is logged and saved in the Database is the Discord accounts email, username, discriminator, ID, and avatar URL.
              </li>
              <li style="padding-top: 10px" class="7">
              <b>Account names:</b> If you have an invalid name, the username will be changed directly from the database. Invalid names are: 2 characters or less, a name with a racial/anti-lgbtq+ slur.
              </li>
          </div>
    </div>
</body>
</html>